.contactsMenu {
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px;
  div {
    margin-top: 10px;
    a {
      line-height: 10px;
      color: white;
      &:hover {
        color: red;
        transition: 0.2s all ease;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
}