.message {
  position: relative;
  padding: 10px 0;
  line-height: 30px;
}

.menu {
  position: absolute;
  display: none;
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(-90%) translateX(120%);

  button {
    padding: 10px 30px;
    font-size: 13px;
  }
}

.menuOpen {
  display: block;
}